:root {
	--normal-background: #101214;
	--strong-background: #1E2326;
	--weak-foreground: #D0D0D0;
	--normal-foreground: #FFEFEF;
	--strong-foreground: #FFFFFF;
	--red: #FA0000;
	--orange: #FAA000;
	--yellow: #FCC202;
	--green: #00AF00;
	--blue: #0099FF;
	--cyan: #AAFAFF;
	--purple: #AA00AF;
}
@font-face
{
	font-family: ibmplexmono;
	src: url(IBMPlexMono-Medium.ttf);
}

@keyframes window-open
{
	from {opacity: 0%; transform: scale(0.9, 0.9);}
	to {opacity: 100%; transform: scale (1, 1);}
}

html
{
	background-color: #90aed0;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: var(--normal-foreground);
	height: 100%;
	margin: 0;
	text-align: left;
	font-family: ibmplexmono;
} 

p
{
	padding: 5px;
}
body
{
	border: 1px solid var(--strong-background);
	position: fixed;
	top: 2.5%;
	bottom: 2.5%;
	left: 2.5%;
	right: 2.5%;
	opacity: 95%;
	background-color: var(--normal-background);
	margin: 0;
	box-shadow: 2px 2px 5px var(--normal-background);
}

.window-open-animation
{
	animation-name: window-open;
	animation-duration: 0.5s;
}

.tab-bar
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	background-color: var(--strong-background);
}

.tab-bar-tab-list
{
	display:inline;
	margin: 0;
	padding: 0;
}
.tab-bar-active-tab
{
	position: relative;
	top: 0opx;
	bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	background-color: var(--normal-background);	
	display:inline;
	border-top: 0.2em;
	border-bottom: 0.2em;
	border-top: 1px solid var(--yellow);
	border-bottom-style: solid;
	border-bottom-color: var(--normal-background);

}

.tab-bar-inactive-tab
{
	top: 2px;
	bottom: 0;
	display:inline;
	border-top: 0.10em;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 0.10em;
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-color: var(--yellow);
	border-top-color: var(--strong-background);
	background-color: var(--strong-background);
}

a:link
{
	color: #FFFBEF;
	transition: text-shadow 0.2s;	
}

a:visited
{
	color: var(--green);
}

h2
{
	color: var(--green);
}
a:hover
{
	color: #FFFBEF;
	text-shadow: 0px 0px 2px #D3C6AA;
}

.tab-bar-active-tab a:link
{
	color: #FFFBEF;
	transition: text-shadow 0.2s;
	text-decoration: none;
}

.tab-bar-active-tab a:visited
{
	color: #FFFBEF;
	text-decoration: none;
}

.tab-bar-active-tab a:hover
{
	color: #FFFBEF;
	text-shadow: 0px 0px 2px #D3C6AA;
	text-decoration: none;
}


.tab-bar-inactive-tab a:link
{
	color: #9DA9A0;
	transition: text-shadow 0.2s;
	text-decoration: none;
}

.tab-bar-inactive-tab a:visited
{
	color: #9DA9A0;
	text-decoration: none;
}

.tab-bar-inactive-tab a:hover
{
	color: #FFFBEF;
	text-shadow: 0px 0px 2px #D3C6AA;
	text-decoration: none;
}
.mode-line
{
	padding-left: 1em;
	position: absolute;
	bottom: 1.5em;
	height: 1.5em;
	background-color: var(--strong-background);
	padding-top: 2px;
	border-top: 1px solid var(--yellow);
	left: 0;
	right: 0;
}

.mode-line-buffer-name
{
	color: #FFFBEF;
	float: left;
	height: 100%;
	margin-left: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

.title
{
	color: #FFFBEF;
}

.content
{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	padding: 1em;
	overflow-y:auto;
}

.content::-webkit-scrollbar {
	display: none;
}
.mode-line-mode-name
{
	float: left;
}

@media screen and (max-width: 800px)
{
	body
	{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		box-shadow: none;
	}
}

img
{
	width: 80%;
	left: 10%;
}

.content
{
	bottom: 3em;
	left: 0;
	overflow: scroll;
	padding: 1em;
	position: absolute;
	right: 0;
	top: 1.5em;
}
