@font-face
{
  font-family: ibmplexmono;
  src: url(IBMPlexMono-Medium.ttf);
}
h2
{
	color:  #8DA101;
}

html
{
	background-color: #9DA9A0;	
	color: #D3C6AA;
	height: 100%;
	margin: 0;
	text-align: left;
	font-family: ibmplexmono;
} 

p
{
	padding: 5px;
}
body
{
	border: 2px solid black;
	position: fixed;
	top: 0.5%;
	bottom: 0.5%;
	left: 2.5%;
	right: 2.5%;
	background-color: #272E33;
	margin: 0;
	box-shadow: 2px 2px 5px #272E33;
}

.tab-bar
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	background-color: #1E2326;
}

.tab-bar-tab-list
{
	display:inline;
	margin: 0;
	padding: 0;
}
.tab-bar-active-tab
{
	position: relative;
	top: 2px;
	bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #272E33;	
	display:inline;
	border-top: 0.10em;
	border-bottom: 0.15em;
	border-top-style: solid;
	border-top-color: #8DA101;
	border-bottom-style: solid;
	border-bottom-color: #272E33;

}

.tab-bar-inactive-tab
{
	position: relative;
	top: 2px;
	bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #1E2326;
	display:inline;
	border-top: 0.10em;
	border-bottom: 0.10em;
	border-top-style: solid;
	border-top-color: #1E2326;
	border-bottom-color: #8DA101;
	border-bottom-style: solid;


}

a:link
{
	color: #FFFBEF;
	transition: text-shadow 0.2s;	
}

a:visited
{
	color:  #8DA101;
}

a:hover
{
	color: #FFFBEF;
	text-shadow: 0px 0px 2px #D3C6AA;
}

.tab-bar-active-tab a:link
{
	color: #FFFBEF;
	transition: text-shadow 0.2s;
	text-decoration: none;
}

.tab-bar-active-tab a:visited
{
	color: #FFFBEF;
	text-decoration: none;
}

.tab-bar-active-tab a:hover
{
	color: #FFFBEF;
	text-shadow: 0px 0px 2px #D3C6AA;
	text-decoration: none;
}


.tab-bar-inactive-tab a:link
{
	color: #9DA9A0;
	transition: text-shadow 0.2s;
	text-decoration: none;
}

.tab-bar-inactive-tab a:visited
{
	color: #9DA9A0;
	text-decoration: none;
}

.tab-bar-inactive-tab a:hover
{
	color: #FFFBEF;
	text-shadow: 0px 0px 2px #D3C6AA;
	text-decoration: none;
}
.mode-line
{
	position: absolute;
	bottom: 1.5em;
	height: 1.5em;
	background-color: #374145;
	left: 0;
	right: 0;
}

.mode-line-buffer-name
{
	background-color: #8DA101;
	color: #FFFBEF;
	float: left;
	height: 100%;
	margin-left: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

.title
{
	color: #FFFBEF;
}

.content
{
	overflow-y:auto;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	padding: 1em;
}

.content::-webkit-scrollbar {
	display: none;
}
.mode-line-mode-name
{
	float: right;
	margin-right: 1em;
	color: #8DA101;
}

@media screen and (max-width: 800px)
{
	body
	{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		box-shadow: none;
	}
}

.content
{
	position: absolute;
	overflow: scroll;
	top: 1.5em;
	bottom: 3em;
	right: 0;
	left: 0;
	padding: 1em;
}
